<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Eco-price</title>
    </head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">Eco-price</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="siderbar-close-button" onclick="closeMenu()">x</button>
            <ul>
                <li>
                    <a href="index.html">Food</a>
                </li>
                <li>
                    <a href="index.html">Cleaning</a>
                </li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                <li>
                <div class="product">
                    <img  class="product-image" src="images/biscuitBio.jpg"alt="product">
                    <div class="product-name">
                        <a href="product.html">Biscuit BIO</a>
                    </div>
                        
                    <div class="product-brand">BJORG</div>
                    <div class="product-price">5Dt</div>
                    <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
                </li>
                <li>
                    <div class="product">
                        <img  class="product-image" src="images/biscuitBio.jpg"alt="product">
                        <div class="product-name">
                            <a href="product.html">Biscuit BIO</a>
                        </div>
                            
                        <div class="product-brand">BJORG</div>
                        <div class="product-price">5Dt</div>
                        <div class="product-rating">4.5 Stars(10 Reviews)</div>
                    </div>
                    </li>
                    <li>
                        <div class="product">
                            <img  class="product-image" src="images/biscuitBio.jpg"alt="product">
                            <div class="product-name">
                                <a href="product.html">Biscuit BIO</a>
                            </div>
                                
                            <div class="product-brand">BJORG</div>
                            <div class="product-price">5Dt</div>
                            <div class="product-rating">4.5 Stars(10 Reviews)</div>
                        </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="images/biscuitBio.jpg"alt="product">
                                <div class="product-name">
                                    <a href="product.html">Biscuit BIO</a>
                                </div>
                                    
                                <div class="product-brand">BJORG</div>
                                <div class="product-price">5Dt</div>
                                <div class="product-rating">4.5 Stars(10 Reviews)</div>
                            </div>
                            </li>
            </ul>
            </div>   
        </main>
        <footer class="footer">
            All right reserved 
        </footer>
    </div>
    <script>
        function openMenu(){
            document.querySelector(".sidebar").classList.add("open");
        }
        function closeMenu(){
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
</body>
</html>